<div class="card flex">
    <div style="width:477%;">
    </div>
    <div style="width:153%;">
        <p>Query Number : <span>Q004</span> </p>
        <p>BOM ID : <span>Q004</span> </p>
        <p>Order Number : <span>Q004</span> </p>
        <p>Line Number : <span>Q004</span> </p>
    </div>
    <div style="width:236%;">
        <p>Created By  : <span>atfc04</span> </p>
        <p>Submitted By : <span>Satya</span> </p>
        <p>Payment Terms : <span>S1RY-15th Net Prox +1 Mo</span> </p>
        <p>Status : <span style="color: red;" >Open</span> </p>
    </div>
</div>

<div class="card flex">
    <div class="card flow" style="min-width: 10px;">
        <p-card header="Queries List">
            <div style="padding:8px 20px;">
                <p-table [value]="products" [tableStyle]="{ 'min-width': '15rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Query</th>
                            <th>CFN</th>
                            <th>Order#</th>
                            <th>Line#</th>
                            <th>Add User</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.code }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.inventoryStatus }}</td>
                            <td><i class="pi pi-user"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        <div class="button-css" >
            <p-button label="Create Jira" severity="secondary"></p-button> &nbsp;
            <p-button label="Notes&Documents" severity="secondary"></p-button> &nbsp;
            <p-button label="Upload To Compass Drive" severity="secondary"></p-button> &nbsp;
            <p-button label="Report" severity="secondary"></p-button> &nbsp;
        </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <p-card header="Queries List" class="chat-card-css">

        <div class="icon-bar" >
            <a><i class="pi pi-user" style="color: green;" ></i><span>AE</span></a> 
            <a><i class="pi pi-user" style="color: green;" ></i><span>OE</span></a> 
            <a><i class="pi pi-user" style="color: red;" ></i><span>FS</span></a>
            <a><i class="pi pi-user" style="color: green;" ></i><span>OE</span></a> 
            <a><i class="pi pi-user" style="color: red;" ></i><span>AE</span></a> 
            <a><i class="pi pi-user" style="color: red;" ></i><span>FS</span></a> 
            <a><i class="pi pi-user" style="color: green;" ></i><span>PA</span></a> 
        </div>

        <div>
            <app-chat-conversation></app-chat-conversation>

        </div>
    </p-card>
  
</div>