.query-table-css {
    width: 30%;
    margin-top: 100px;
    margin-bottom: 10px;
}

.query-details-section-2 {
    margin-left: 80%;
}


.query-details-section-1 {
    margin-left: 60%;
}

.chat-card-css {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 4rem;
    width: 71%;
}

.people-css{
    float: right;
    margin-top: -50px;
    
}

.pi-user{
    font-size: 1.5rem,
}


.table-css {
    border: 2px solid yellow;
    height: 35px;
    width: 47px;
}

.icon-bar {
    width: 25%;
    /* background-color: #555; */

    height: 69px;
  }
  
  .icon-bar a {
    float: right;
    width: 13%;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease;
    font-size: 11px;
    border: 1px solid black;
    background-color: #c9c3da;
    border-radius: 0.5rem;
  }

  .icon-bar {
    margin-top: -64px;
    margin-left: 811px;
    height: 51px;
  }

.button-css {
    margin-top: 35px;
}